                <div class="footer">
                    <div class="container">

                        <div class="small-margin">

                            <div class="grid">
                                <div class="tablet-6 desktop-3">
                                    <h6>Адрес</h6>
                                    <p class="muted">
                                        г.Ейск<br>
                                        ул. Ясенская, 2-В
                                    </p>
                                </div>

                                <div class="tablet-6 desktop-4">
                                    <h6>Контакты</h6>
                                    <p class="muted">
                                        8-918-232-40-55<br>
                                        <a href="mailto:rep4eysk@gmail.com">rep4eysk(at)gmail.com</a>
                                    </p>
                                </div>
                            </div><!-- .grid -->

                        </div><!-- .medium-margin -->
                        <hr>
                        <div class="grid grid-centered grid-justified">
                            <div class="tiny-margin">
                                © 2010–2018 Учебный центр "Репетитор"
                            </div>
                        </div><!-- .grid -->
                    </div>
                </div>