<div>
    <h2>Уважаемые папы и мамы старшеклассников!</h2>

    <ul style="list-style-type: circle;">
        <li>Вы хотите, чтобы Ваш ребенок хорошо учился в школе?</li>
        <li>Вас на 100% устраивает качество преподавания  там?</li>
        <li>Вы стремитесь к тому, чтобы Ваш ребенок сдал выпускные экзамены на высокий балл?</li>
        <li>Вы мечтаете о том, чтобы он стал студентом престижного ВУЗа?</li>
    </ul>
    <p>С одной стороны, уровень преподавания в школе сегодня находится на низком уровне.</p>
    <p>С другой - для поступления в ВУЗ требуется довольно высокий балл по трем предметам. И играет решающую роль для зачисления абитуриента.</p>
    <p>Набрать это количество баллов без дополнительных занятий невозможно!</p>


    <div class="review">
        <h6>Буренко Алла Борисовна</h6>
        <div class="content">
            Моей дочери Кате в школе очень трудно давалась физика. Поэтому возникла необходимость в дополнительных занятиях. Мы пришли в «Репетитор» в прошлом году, когда Катя училась в 10 классе.  Физику здесь преподает замечательный учитель – Каликина Ольга Владимировна. Дочь с удовольствием ходила на занятия и довольно быстро появились результаты: физика стала ей понятна, она научилась решать задачи, отвечать на теоретические вопросы, появилось больше хороших оценок в школе. Сейчас Катя заканчивает 11 класс и готовится сдавать ЕГЭ по физике, потому что собирается поступать в технический ВУЗ.
            <br/>Умение Ольги Владимировны интересно и доступно объяснять материал помогло Кате полюбить физику!
            <br/>Большое спасибо! Я рекомендую всем своим знакомым выбирать для дополнительных занятий «Репетитор» и желаю вам здоровья и успехов!
        </div>
    </div>

    <div class="review">
        <h6>Недилько Наталья Георгиевна</h6>
        <div class="content short">Я слышала очень много положительных отзывов о Вашем центре, о профессионализме педагогов.
            Мы пришли в «Репетитор» в прошлом году, когда моя дочь Карина была девятиклассницей и решила сдавать ГИА по английскому языку. И ей очень понравилось преподавание замечательного педагога Прониной Ольги Павловны. Она подтянула английский с «0» до твердой «4», стала понимать грамматику. Сдала ГИА на четверку. В 10 классе мы записались и на русский язык с намерением готовиться к сдаче ЕГЭ. Благодаря интересным и качественным занятиям у Бондаренко Ирины Владимировны стали лучше оценки в школе по русскому.
            <br/>Моей дочери нравится высокий уровень преподавания в центре и отношение педагогов к детям.
            <br/>За время обучения Карины в «Репетиторе» я убедилась в том, что здесь не только грамотные учителя, но и отличные педагоги-психологи. Поэтому всегда рекомендую центр своим знакомым.
            <br/>Хочу пожелать, чтобы происходящие в последнее время в системе сдачи экзаменов изменения находили отклик в процессе преподавания в «Репетиторе».
        </div>
    </div>

    <ul>
        <li>Видите ли Вы будущее своего ребенка без образования?</li>
        <li>Легко ли ему будет в жизни?</li>
        <li>Каковы его шансы стать успешным?</li>
    </ul>
    <p>
        Проблема? Да!
        <br/>Но ее можно решить!
        <br/>Как?
    </p>
    <div class="review">
        <h6> Добролюбова Людмила Викторовна</h6>
        <div class="content">
            Я слышала очень много положительных отзывов о Вашем центре, о профессионализме педагогов. Результаты ГИА в прошлом году у моей дочери Анастасии на высшем уровне. Детям заниматься комфортно.
            <br/>Я рекомендую своим знакомым приводить детей в «Репетитор». Несмотря на большое количество учителей, занимающихся репетиторством, настоящих профессионалов среди них, то есть тех, кто способен дать качественные знания, не так уж много. Ваши педагоги смогли найти индивидуальный подход к ребенку, стать авторитетом в ее глазах, дать хорошие знания.
            <br/>Успехов Вам!
        </div>
    </div>
    <div class="review">
        <h6>Долгополова Татьяна Викторовна</h6>
        <div class="content">
            Мы попали в «Репетитор» в 11 классе после того, как на семейном совете решили, что нашей дочери Насте нужна помощь в подготовке к ЕГЭ по истории и обществознанию. От ребят из класса, которые уже занимались в этом центре, мы узнали о том, что в «Репетиторе» работает Андреева Елена Борисовна – первоклассный учитель. После первого знакомства мы были просто очарованы Еленой Борисовной. Ее доброжелательность и профессионализм очень помогли Насте достичь высокого уровня знаний по этим предметам и успешно сдать экзамены на достойные баллы.
            <br/>Сейчас она студентка 2 курса Санкт-Петербургского университета факультета международных отношений.
            <br/>Те знания, которые она получила на занятиях с Еленой Борисовной и умение приобретать их, помогают ей сейчас успешно учиться в одном из самых престижных вузов страны.
        </div>
    </div>

    <p>Если Вы действительно хотите, чтобы Ваши замечательные дети
        учились в школе с радостью,
        сдавали выпускные экзамены в приподнятом настроении,
        добивались всего намеченного в дальнейшей жизни,
        звоните прямо сейчас по телефону: <span class="phone-main">8-918-232-40-55</span></p>
    <ul>
        <li>количество мест у нас ограничено;</li>
        <li>запись на 2014/2015 учебный год уже началась!</li>
        <li>цена 250 руб. в час.</li>
    </ul>
    <p>Преимущества нашего предложения очевидны:</p>
    <ul>
        <li>высокопрофессиональные педагоги;</li>
        <li>возможность дополнительных занятий по всем школьным предметам в одном месте;</li>
        <li>удобное для ребят расписание и индивидуальный подход;</li>
        <li>неформальные отношения ученик – учитель;</li>
        <li>психологическая помощь в преодолении страха перед экзаменами;</li>
        <li>занятия в уютной современной обстановке.</li>
    </ul>
    <p>При этом, Вы экономите деньги у нас, так как стоимость занятий с репетитором в нашем городе 400- 500 рублей/час, т.е. в 2 раза дороже.</p>
    <p>Кроме того, наш 4-летний опыт работы доказал, что занятия в маленькой группе (до 6 человек) эффективнее индивидуальных на 34%.</p>
    <div class="review">
        <h6>Гончаренко Ирина Владимировна</h6>
        <div class="content">
            Мы знакомы с «Репетитором» уже третий год. Почему мы выбрали для дополнительных занятий этот учебный центр?
            Потому что здесь возможно готовиться к экзаменам по всем предметам, которые нам нужны.
            Моя дочь Яна занимается биологией у Елены Ивановны Драновской и русским языком у Ирины Владимировны
            Бондаренко. Это очень сильные учителя!
            Очень удобное для нас месторасположение центра – рядом с домом - тоже сыграло важную роль.
            Цены за услуги весьма приемлемые для нас. Два года назад моя дочь сдала ГИА на «отлично», сейчас она
            готовится к ЕГЭ.
            Я с огромным удовольствием рекомендую «Репетитор» своим знакомым, так как здесь очень высокое качество
            преподавания, доброжелательная атмосфера.
            Моему ребенку очень нравится!
        </div>
    </div>

    <div class="review">
        <h6>Кириллова Татьяна Николаевна</h6>
        <div class="content">
            Мы услышали хорошие отзывы от других родителей. Посмотрели страничку в интернете о преподавателях и условиях
            обучении.
            В прошлом году наш сын Михаил готовился к ГИА по русскому языку, алгебре и физике &mdash; результатом на
            экзаменах мы довольны.
            В этом году он занимается русским языком. На занятиях детей готовят и краевым контрольным работам, что
            придает им уверенности в течение учебного года на уроках в школе.
            И еще Ирина Владимировна Бондаренко помогает разобраться в материале, который ребенок не усвоил в школе.
            Будем обязательно ходить в «Репетитор» и на следующий год для подготовки к ЕГЭ. Занятиями очень довольны.
            Оплата доступная.
            Михаил рекомендует всем своим друзьям приходить заниматься в «Репетитор», потому что у вас учитель уделяет
            внимание каждому ученику.
            У вас хороший центр! Так держать!
        </div>
    </div>
    <div class="review">
        <h6>Морозова А.К.</h6>
        <div class="content">
            Я слышала от знакомых много положительных отзывов об учителях в «Репетиторе». По их рекомендации мы и пришли сюда.
            Мой сын учится в школе в основном на «отлично», но нам необходимы максимально глубокие знания по предметам,
            поэтому сейчас, в 10 классе, он занимается по химии, биологии, физике и русскому языку.
            И в 11 классе мы обязательно будем продолжать здесь свое обучение, чтобы достичь высоких результатов на ЕГЭ.
            Сыну здесь очень нравится, и я желаю всем учителям как можно дольше оставаться востребованными.
            Большое вам спасибо!
        </div>
    </div>
    <div class="review">
        <h6>Булавина Светлана Ивановна</h6>
        <div class="content">
            Мы выбрали для дополнительных занятий для моей дочери Ангелины «Репетитор», потому что ей нужен был более высокий уровень обучения, чем в школе.
            И передо мной возник насущный вопрос: как же подобрать опытного репетитора? Многие родители сталкиваются с проблемой репетиторства.
            Ваш ребенок хочет поступить в ВУЗ и подтянуть свои знания? Остается одна задача – найти хорошего репетитора.
            Я искала такого в газетах, по объявлениям, спрашивала у знакомых, но нашла на сайте в Интернете.
            Так мы попали в «Репетитор».и наши ожидания оправдались. Уроки проходят плодотворно, в доброжелательной обстановке.
            Елена Ивановна Драновская, учитель биологии, - прекрасный, грамотный и ответственный педагог, глубоко знающий
            свой предмет и умеющий доступно объяснять его детям.
            Группы маленькие, поэтому вся информация воспринимается и усваивается легко. Цена вполне нас устраивает.
            Сейчас дочь учится в 9 классе, и мы точно будем заниматься в «Репетиторе» и в 10, и в 11 классе по биологии и химии.
            Я советую всем родителям, желающим обеспечить успешное поступление своего ребенка в ВУЗ, воспользоваться
            услугами «Репетитора».
            И желаю Вам быть в контакте с родителями, предупреждать об изменениях в расписании. Было бы не лишним, если бы проводились родительские собрания.
        </div>
    </div>
    <p>Если у Вас еще есть вопросы, звоните прямо сейчас по телефону:</p>
    <p><span class="phone-main">8-918-232-40-55</span> и получите ответы на них!</p>
    <p>Напоминаем, что количество мест у нас ограничено!</p>
</div>