.showStaff {
    font-size: 0;
    border-bottom: 1px solid rgba(139, 153, 165, 0.25);
    overflow: hidden;
    position: relative;
}

.showStaff > * {
    display: inline-block;
    font-size: 1rem;
}

.showStaff > * {
    vertical-align: middle;
}

.review {
    border: 1px dotted #330099;
    border-radius: 10px;
    padding: 0 15px 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.review h6 {
    text-align: right;
    margin-bottom: 0;
    margin-top: 10px;
}
.review div.content {
    text-indent: 15px;
    font-style: italic;
    font-size: smaller;
}

.phone-main {
    font-weight: 700;
    font-stretch: semi-expanded;
    color: red;
}

.hidden-text {
    cursor: pointer;
}