<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Новости | Учебный центр репетитор</title>
        <meta name="description" content="Центр подготовки школьников к ЕГЭ и ГИА города Ейска">

        <link rel="shortcut icon" href="assets/favicon.ico">
        <link rel="stylesheet" href="assets/css/all.css">

        <script src="assets/js/jquery-2.1.0.min.js"></script>
        <script src="assets/js/jquery.smartscroll.js"></script>
        <script src="assets/js/jquery.flexSlider.js"></script>
        <script src="assets/js/main.js"></script>
    </head>

    <body class="blog">

        <div class="fixed animated navbar">
            <div class="container">

                <div class="navbar-header">
                    Учебный центр
                    <a href="index.html" class="navbar-logo"><br/>&laquo;Репетитор&raquo;</a>
                    <button class="navbar-nav-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- .navbar-header -->

                <nav id="navbar-nav" class="navbar-nav">
                    <ul>
                        <li><a href="index.html">На главную</a></li>
                        <li><a href="#" class="button button-primary contact-toggle">Напишите нам!</a></li>
                    </ul>
                </nav><!-- .navbar-nav -->

            </div>
        </div><!-- .navbar -->

        <div class="content-wrapper">
            <div class="content-inner-wrapper" style="padding-top: 138px;">

                <div class="container">

                    <div class="post">
                        <div class="post-image">
                            <img src="assets/img/collageOne1060on663.jpg" alt="Post image">
                        </div>
                        <h3 class="post-title">Итоги сдачи экзаменов <small>21.06.2014</small></h3>
                        <div class="post-content">
                            <p>Вот и завершилась горячая пора для ребят – пора сдачи выпускных экзаменов.</p>
                            <p>И мы с радостью сообщаем, что все ученики, которые готовились к экзаменам у нас в центре, сдали их успешно.</p>
                            <p>Учащиеся девятых классов в этом году готовились только к математике и русскому языку, так как экзамены по выбору теперь являются необязательными. По математике почти все наши ребята получили «4» и «5», в группе только одна «тройка». Каждый из них очень старался и усердно трудился, для каждого это победа. От души поздравляем!</p>
                            <p>А результаты по русскому языку превзошли наши ожидания – <b>пять «5» и одна «4». Молодцы!</b></p>
                            <p>Выпускники 11-х классов тоже порадовали своих педагогов – все ребята успешно сдали ЕГЭ.</p>
                            <p>Здесь мы отметим только тех, чьи результаты оказались самыми лучшими.</p>
                            <p><em>Литература и русский язык</em>: <strong>Дарья Краснянская</strong> получила <b>91 и 100 баллов</b> соответственно. Заслуженный, достойный результат! Молодец! Поздравляем! И гордимся мастерством Ирины Владимировны Бондаренко, ученица которой в прошлом году получила 100 баллов по литературе. И вот новая победа! Замечательная традиция!</p>
                            <p>По итогам сдачи русского языка особо хочется отметить результат <strong>Константина Ширина</strong> – <b>84 балла</b>! И это тогда, когда в аттестате у него по этому предмету стоит тройка. Константин доказал, что возможно добиться наилучших результатов, имея желание и помощь опытного учителя.</p>
                            <p><strong>Анастасия Сторож</strong> порадовала нас хорошим результатом по <em>математике</em> – <b>82 балла!</b> Остальные ребята сдали этот трудный обязательный предмет тоже успешно.</p>
                            <p>А вот <b>82 балла</b> по <em>английскому языку</em> очень расстроили Дарью Краснянскую. Были слезы и переживания. Но это прекрасный результат! Даша, ты умница!</p>
                            <p><em>Физика </em>была неприступна. Лучший результат у нас показал <strong>Дмитрий Шрамов</strong> – <b>79 баллов</b>.</p>
                            <p>На <em>биологии и химии</em> отличилась <strong>Маргарита Нетреба</strong>. Ее результат – <b>86 баллов </b>по каждому предмету! Молодчина! Целеустремленность и упорство этой девочки поражало нас на протяжении всего учебного года. И вот результат!</p>
                            <p>А ученица Елены Ивановны Драновской <strong>Мария Струкова</strong> получила <b>100 баллов</b> по биологии! <span style="text-decoration: underline">Примечательно, что впервые в нашем районе по этому предмету получен высший балл!</span></p>
                            <p>Дорогие ребята! Мы, учителя учебного центра «Репетитор», от всей души поздравляем вас с успешной сдачей школьных экзаменов! Желаем вам поступления в выбранные вузы и дальнейших успехов в учебе! Уверены, что знания, полученные у нас, пригодятся вам и в дальнейшем!</p>
                            <p>Мы всегда будем рады видеть вас и узнавать о ваших успехах!</p>
                        </div>
                    </div>

                    <div class="post">
                        <h3 class="post-title">Пара слов от наших <em>100-бальников</em> <small>5.07.2014</small></h3>
                        <div class="post-content">
                            <div style="text-align: center">
                                <iframe src="//player.vimeo.com/video/99977620?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <div style="text-align: center">
                                <iframe src="//player.vimeo.com/video/99977622?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div><!-- .container -->
                <!-- footer-->
$footer
                <!-- /footer-->

            </div><!-- .content-wrapper -->
        </div><!-- .global-wrapper -->

        <!-- Contact form -->
        <div class="contact-wrapper">
            <button type="button" class="close contact-toggle" aria-hidden="true">&times;</button>
            <div class="contact-form-container">
                <form class="contact-form">
                    <div class="form-group">
                        <input id="contact-email" class="input" name="email" type="email" placeholder="Ваш email">
                    </div>
                    <div class="form-group">
                        <textarea id="contact-message" class="input" name="message" placeholder="Ваше сообщение" rows="5"></textarea>
                    </div>
                    <button type="submit" class="button button-primary" data-loading-text="Отправка...">ОК</button>
                </form>
            </div>
        </div><!-- .contact-container -->
$yandexMetrica
    </body>
</html>