.showStaff {
    font-size: 0;
    border-bottom: 1px solid rgba(139, 153, 165, 0.25);
    overflow: hidden;
    position: relative;
}

.showStaff > * {
    display: inline-block;
    font-size: 1rem;
}

.showStaff > * {
    vertical-align: middle;
}

.review {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    padding: 0 15px 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.review h6 {
    text-align: right;
    margin: 10px 0;
}
.review div.content {
    text-indent: 15px;
    font-style: italic;
    font-size: smaller;
}
    .review .short {
        max-height: 100px;
        position: relative;
        overflow: hidden;
    }
    .review .short .gradient {
        display: block;
    }
    .review .gradient {
        display: none;
        position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 30px;
        margin: 0; padding: 0;

        background-image: -webkit-gradient(linear, top, bottom, color-stop(0, rgb(255, 255, 255)),color-stop(1, rgb(244, 244, 244)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgb(244, 244, 244));
        background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(244, 244, 244));
        background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgb(244, 244, 244));
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgb(244, 244, 244));
    }
    .review .short + .readMore {
        display: block;
    }
    .review .readMore {
        display: none;
        padding: 0;
        text-align: center;
        margin: -8px 0 -10px;
    }


.phone-main {
    font-weight: 700;
    font-stretch: semi-expanded;
    color: red;
}


.features_block {
    position: relative;
    top: 35%;
    width: 100%;
    height: 200px;
    z-index: 1;
}

.feature {
    text-align: center;
    height: 100%;
    width: 33.3%;
}
@media (min-width: 769px) {
    .feature {
        float: left;
    }
}

.feature h3 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

.circle_block {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-color: rgb(0, 128, 0);
    position: relative;
}

.circle_block p {
    color: #ffffff;
    font-weight: 600;
    font-size: 28px;

}
.circle_block img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
}

#subject_flow_list {
    display: block;
    width: 5000px;
    position: absolute;
    top: 33px;
    left: 45px;

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#subject_flow_list span {
    display: block;
    float: left;
    margin: 0 45px 0 0;
    width: 90px;
    color: #ffffff;
    font-size: 14px;
}

